.people-content{
    max-width: 75%;
    width: 100%;
    /* background-color:rgb(131, 206, 241); */
    display: flex;
    flex-direction: column;
    gap: 30px;

}


.people-content h1{
    color: #000;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
    padding: 0;
    cursor: default;
}


.people-content h2{
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    cursor: default;
}

.people-content p{
    color: #000;
    font-weight: 400;
    letter-spacing: 0.6px;
    overflow-wrap: break-word;
    max-height: 200px;
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}



.people-content .known-for{
    display: flex;
    gap: 22px;
    overflow-x: auto;
    overflow-y: hidden; 
    white-space: nowrap;
    padding-right: 10px;
}

.people-content .known-for .item {
    margin-bottom: 15px;
    width: 140px; 
    /* width: 100%; */
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3) ;
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.people-content .known-for .item:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
    border-radius: 8px;

}



.known-for .item img {
    width: 140px;
    min-height: 210px;
    height: 100%;
    object-fit: cover;
    display: block;

    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.known-for .cast-content {
    background-color: #fff;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    white-space: nowrap;
}

.known-for .cast-content h3 {
    text-transform: capitalize;
    margin: 0;
}

.movies-people-content .name,
.known-for .cast-movie-name {
    white-space: normal;
    overflow-wrap: break-word; 
    padding: 8px 8px;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;

}

.known-for .year-movie{
    white-space: normal;
    overflow-wrap: break-word; 

    padding:0px 8px 8px;
    font-size: 12px;
    font-weight: 400;

}



.people-content .known-for::-webkit-scrollbar {
    height: 10px; 
}

.people-content .known-for::-webkit-scrollbar-thumb {
    background-color: var(--bs-blue);
    border-radius: 5px;
}

