.header-item {
  margin-top: 100px;
  padding: 30px 120px;
}
  /* PC */
  @media (min-width: 1024px) {

  }
  
  /* Tablet và Mobile */
  @media (max-width: 1023px) {
  
  
      
  }
  /* Tablet */
  @media (min-width: 740px) and (max-width: 1023px) {
    .header-item {
      margin-top: 40px;
      padding: 30px 50px;
    }
  }
  
  
  /* Mobile */
  
  @media (max-width: 739px) {
    .header-item {
      margin-top: 30px;
      padding: 30px 20px;
    }
  
  }
