.vote-info {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: default;
}
.point-vote {
    width: 60px;
    height: 60px;
    display: inline-block;

}

.circle {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #081c22;
}

.chart {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
    text-align: center;
}

.point-number {
    position: absolute;
    /* padding: 18px 15px; */
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.point-number {
    /* position: relative; */
    display: inline-block;
}

.decimal {
    position: absolute;
    top:12px;
    font-size: 8px; 
}
