.detail-info{
    max-width: 25%;
    width: 100%; 
    /* max-height: 550px; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border-radius: 8px; */
    /* box-shadow: 0 0 5px rgba(0,0,0,0.3) ; */

}



.detail-info a{
    text-decoration: none;
    background-color: #fff;
}

.detail-info h3, a{
    color: #000;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    padding: 0;
    overflow-wrap: break-word;

}

.detail-info p{
    color: #000;
    font-weight: 300;
    overflow-wrap: break-word;

}

.detail-info .home-page a{
    display: flex;
    gap: 4px;
}

.detail-info .home-page a:hover{
    text-decoration: underline;

}


.detail-info h3{
    cursor: default;
}



/* PC */
@media (min-width: 1024px) {

}

/* Tablet và Mobile */
@media (max-width: 1023px) {


    
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {

}


/* Mobile */

@media (max-width: 739px) {

}