
.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    max-height: 90px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 150px;
    background-color: #fff; 
    z-index: 5000; 
}

.logo {
    max-width: 110px;
    height: 34px;
}

.right-header {
    display: flex;
    align-items: center;
}

h3 {
    position: relative;
    color: #000;
    font-size: 13px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 0;
    margin-right: 48px;
    cursor: pointer;
}

.right-header h3.active::after,
.right-header h3:hover::after {
    height: 3px;
    background: var(--bs-yellow);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: .33s;
}

/* (sub-header) */
.item-header {
    display: flex;
    align-items: center;
    position: relative;
}

.sub-header {
    display: none;
    position: absolute;
    top: 100%;
    left: -30%;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    padding: 0;
    margin: 0;
    list-style: none;
    min-width: 100px;
    border-radius: 8px;
    z-index: 6000;
}

.item-header h3:hover .sub-header {
    display: block;
}

.sub-header li {
    padding: 8px 15px;
    white-space: nowrap;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 350;
    transition: transform 0.7s ease-in-out;
}

.sub-header li a {
    color: #000;
    text-decoration: none;
}
.header .sub-header .item-link{

    font-size: 15px;
    font-weight: 350;
}

.sub-header li:hover {
    background-color: #f0f0f0;
    transition: transform 0.7s ease-in-out;

}

.sub-header li:hover .item-link{
    font-weight: 500;

}

.sub-header li:last-child:hover {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
/* Tìm kiếm */
.search {
    display: flex;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
    border-radius: 18px;
    align-items: center;
}

.ip-search {
    padding: 7px;
    border: none;
    border-radius: 18px;
    outline: none;
    opacity: 0.3;
}

.ip-search:focus {
    opacity: 1;
}

.btn-search {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
}

.search-icon {
    margin: 0 5px;
    width: 18px; 
    height: 18px;
    fill: #000; 
    stroke: #000;
    stroke-width: 0.3;
    transition: fill 0.3s, stroke 0.3s; 
}

.search-icon:hover {
    fill: var(--bs-yellow);
    stroke: var(--bs-yellow);
    stroke-width: 0.5;
}
