.footer{
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%; */
    background-color: #ffbb35;
    padding:50px 150px;

}


.main-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo-huddle-last{
    /* margin-top: 10px; */
    max-width: 120px;
    width: 100%;
    margin-bottom: 30px;

}

.footer-list {
    display: flex;
    /* color: #979797; */
    gap: 140px;
}

.footer .list {
    display: flex;
    flex-direction: column;
    gap:20px;
    text-shadow: 0px 1px 5px #ccc;

}

.footer li{
    list-style: none;
}
.footer .item {
    display: flex;
}

.footer .item a{
    text-transform: none;
    font-weight: 350;
    color: #fff;
    text-decoration: none;

}

.footer .item a:hover{
    text-decoration: underline;
}

.footer .item img{
    max-width: 24px;
    width: 100%;
    max-height: 24px;
    height: 100%;
    margin-right: 10px;

}

.footer .list:first-child{
    max-width: 280px;
    width: 100%;
 }

 .footer .list:last-child .item img{
    max-width: 32px;
    width: 100%;
    max-height: 32px;
    height: 100%;
 }

 .footer .list-last .item:last-child{
    margin-top: 30px;
 }


 /* PC */
@media (min-width: 1024px) {

}

/* Tablet và Mobile */
@media (max-width: 1023px) {
    .footer{
        padding:40px 30px;
    
    }


    
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .footer-list {
        gap: 50px;
    }
    .footer .list:first-child{
        max-width: 180px;
     }

    .footer .list-last .item:last-child{
        margin-top: 40px;
     }
}


/* Mobile */

@media (max-width: 739px) {
    .footer-list {
        flex-direction: column;
        gap: 30px;
    }
    .footer .list:first-child{
        max-width: 100%;
     }
    
     .footer .list-last{
        display: flex;
        align-items: center;
     }
    
     .footer .list-last .item:last-child{
        margin-top: 0px;

     }

     .logo-huddle-last{
        /* margin-top: 10px; */
        max-width: 90px;
        margin-bottom: 20px;
    
    }


}